@import "../../styles/mixins.scss";
$buttonHeight: 45px;
$buttonWidth: 185px;
.button {
    background-color: transparent;
    border: 1px solid var(--light);
    border-radius: 8px;
    min-height: $buttonHeight;
    min-width: $buttonWidth;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--light);
    @include glowElement();
    &Primary {
        background-color: var(--yellow);
        border: 1px solid var(--yellow);
        color: var(--purple2);
    }
}
