@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--dark);
    background: var(--light2);
    background-color: var(--dark);
}

a {
    color: inherit;
    text-decoration: none;
}
a,
path {
    transition: 0.3s ease-in-out all;
}

:root {
    --dark: #000;
    --dark2: #363636;
    --dark3: #8f8f8f;
    --light: #fff;
    --light2: #e5e5e5;
    --yellow: #fbc508;
    --purple: #7000ff;
    --purple2: #2b0955;
    --purple3: #ae97cb;
    --headerHeight: 70px;
    --containerPadding: 0 8.2vw;
    --containerMainPadding: 0 14vw;
    --footerHeight: 330px;
    @media (max-width: 768px) {
        --headerHeight: 100px;
        --containerPadding: 0 20px;
        --containerMainPadding: 0 15px 0 30px;
        --footerHeight: 595px;
    }
}
